html {
	box-sizing: border-box;
}

*, *:before, *:after { /*before y after son pseudoelementos*/
	box-sizing: inherit;
}



header {
  background: #C9C3C1;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-style: solid;
  border-color: black;
  width: 100%;
}
.container{
	position: relative;
	width: 960px;
	height: 100%;
	padding-top: 10px;
}
main{
    position: relative;
      height: 587px;
}
#cuadro {
  position: absolute;
  border-style: solid;
  border-color: black;
  height: 480px;
  width: 100%;
  text-align: left;
  overflow: scroll;
  padding-left: 10px;
}
.enviando {
  position: absolute;
  bottom: 20px;
  width: 100%;
}